footer#colophon.site-footer {
	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: $white;

  	> .row:not(:last-child) {
  		padding: 25px 0;

  		.col {
  			margin-bottom: 15px;
  		}

  		h3 {
  			text-align: center;
  		}
  	}
}

.info-bar {
	background: #636363;
}

.site-info {
	padding: 10px;
	color: #ccc;
	
	a {
		color: #cca;
	}
}

.wordpress-logo {
	display: inline-block;
	width: 20px;
	padding: 10px 0;
}

