.archive #main article {

}

.archive #main article .entry-header {
	margin: 5px;
}

.archive #main article .entry-content {
	margin: 5px;
}

.archive #main article .entry-footer > span {
	margin: 0 5px;
}