#content {
  background: -webkit-linear-gradient(-213deg, #eee 0%, #cdc 100%);
  background: linear-gradient(-213deg, #eee 0%, #cdc 100%);
  padding-bottom: 167px;
}

#main > div {
	background: $content-color;
	font-family: $roboto-reg;
	text-transform: uppercase;
	height: 785px;
	color: $white;
	text-shadow: 1px 1px 2px $black-opacity8;
}

#main > div:nth-child(2) > div > div:first-child {
	height: 48px;
}

#main > div:nth-child(2) > div > div:nth-child(2) {
	background: $white;
	height: 214px;
}

#main > div:nth-child(2) h3 {
	display: block;
	padding: 1.1rem 0;
	font-size: 18pt;
}

#shop-section .shop-title {
	font-family: $roboto-bol;
	text-transform: uppercase;
	font-size: 36pt;
	color: $white;
	text-shadow: 1px 1px 2px $black-opacity8;
}

#shop-section .shop-module {
	min-height: 1000px;
}

#shop-section .shop-module > div {
	padding-bottom: 15px;
}

#shop-section .shop-module > div > div {
	background: $white;
	max-width: 480px;
	height: 400px;
	box-shadow: 0 2px 4px 2px $black-opacity6;
}

#about-section h1.about-title {
	font-family: $roboto-blk;
	text-transform: uppercase;
	font-size: 36pt;
	color: $white;
	text-shadow: 1px 1px 2px $black-opacity8;
}

#about-section .about-links {
	font-family: $bebas;
	text-transform: uppercase;
	font-size: 28pt;
	color: $white;
	text-shadow: 1px 1px 2px $black-opacity8;
}

#about-section .adventurous-about {
	height: 640px;
}